<footer class="mt-5 bg-white">
  <div class="f-main d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12 text-center">
          <div class="f-s-links">
              <a href="#" class="btn btn-links"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="btn btn-links"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="btn btn-links"><i class="fa-brands fa-instagram"></i></a>
            </div>
      </div>
        <div class="col-lg-4 col-12 d-flex justify-content-center align-items-center">
          <div class="f-brand">&copy;copyright WanderLust</div>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <div class="f-links">
              <a href="#" class="btn btn-links">Terms</a>
              <a href="#" class="btn btn-links">Privacy Policy</a>
              <a href="#" class="btn btn-links">FAQ</a>
          </div>
      </div>
    </div>
  </div>
</footer>
