<% layout('/layouts/boilerplate') -%>
    <div class="container my-4">
        <h1 class="mb-4">Add New Listing</h1>
        <form action="/listings" method="POST" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
          <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="title" name="listing[title]" required />
              <div class="invalid-feedback">
                Please enter a title.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="image" class="form-label">Upload Image</label>
            <div class="input-group">
              <input type="file" class="form-control" id="image" name="listing[image.url]" required/>
              <div class="invalid-feedback">
                Please enter a photo.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">Location</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="location" name="listing[location]" required />
              <div class="invalid-feedback">
                Please enter a location.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="country" class="form-label">Country</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="country" name="listing[country]" required />
              <div class="invalid-feedback">
                Please enter a location.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="price" class="form-label">Price (INR)</label>
            <div class="input-group has-validation">
              <input type="number" class="form-control" id="price" name="listing[price]" required />
              <div class="invalid-feedback">
                Please enter a price.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <div class="input-group has-validation">
              <textarea class="form-control" id="description" name="listing[description]" rows="3" required></textarea>
              <div class="invalid-feedback">
                Please enter a decription.
              </div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-col">Add listing</button>
          </div>
        </form>
      </div>
